*{
    margin: 0;
    padding:0 ;
}
html{
    scroll-behavior: smooth;
}
:root{
--green:#7AB846;
--orange:rgb(255, 60, 0);
--lime:#FAFF00;
--primary-font:'Poppins','Helvetica';
--secondary-font:'Manrope','sans-serif';
--mons: 'Montserrat', sans-serif;
font-family: var(--primary-font);
color: black;
font-weight: 400;
}
@media (max-width:1367) {
    :root{
        font-size: 10px;
    }
}

body{
    overflow-x: hidden;
    margin-top: 60px;
}


.fade-left{
    opacity: 0;
  transform: translateX(10%);
  transition: all 1s;
}
.fade-right{
    opacity: 0;
    transform: translateX(-10%);
    transition: all 1s;
}
@media (max-width:700px) {
    .fade-left{
        opacity: none;
      transform:none;
      transition: all 1s;
    }
    .fade-right{
        opacity: none;
        transform: none;
        transition: none;
    }
}
.visible {
    opacity: 1;
    transform: translate(0, 0);
  }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100%;
    top:0;
    background: white;
    z-index: 999;
    box-shadow:0 1px;
}


#logo{
height: 80%;
margin:2rem ;
}

.primary-nav{
    display: flex;
    list-style: none;
    gap: 6rem;
    padding-right:1.5em ;
    z-index: 999;
}
.primary-nav a{
    text-decoration: none;
    color:black;
    font-family:var(--secondary-font);
    font-weight: bold;
    font-size: 1.2rem;
}
.primary-nav a:hover{
text-decoration: underline;
}
.nav-toggle{
    display: none;
}

@media (max-width:1000px) {
    .primary-nav{
        position: fixed;
        inset: 0 0 0 30%;
        background: rgba(0, 0, 0, 0.432);
        backdrop-filter: blur(1rem);
        flex-direction: column;
        padding: min(30vh,10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        gap: 2rem;
    }
    .primary-nav a{
        color: white;
    }
    .active{
        color: #E4281C;
    }
    .nav-toggle{
        display: block;
        width:40px;
        background-color: transparent;
        aspect-ratio: 1;
        border: none;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 9999;
    }
    button img{
        width: 100%;
    }
    .primary-nav[data-visible="true"]{
        transform: translateX(0%);
    }
}

.cover{
    position: relative;
    min-height: max(48vw,220px); 
}
.cover>*{
position: absolute;
left:9vw;
}
.cover img{
    width: 100%;
    min-height: 200px;
    background:cover; 
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: brightness(0.6);
    left:0;
}

.cover h1{
    margin-top: 4.8vw;
    color: var(--orange);
    font-weight: 900;
    font-size:max(4vw,24px);
    text-shadow: 0px 4px 4px #000000;
}

.cover h2 {
    top: 140px;
    color: white;
    font-weight: 700;
    font-size: max(3.3vw,12px);
    text-shadow: 0px 4px 4px #000000;
    width: 56%;
}
.cover h2 span{
    color: var(--lime);
}

.contactUs{
    background-color: #f00;
    border: none;
    font-size: max( 1.6vw, 9.7px);
    font-weight: 700; 
    padding: 0.5em 2em; 
    width: fit-content;
    color: white;
    /* text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.85); */
    box-shadow: -3px 4px 4px #000000;
    border-radius: 6px;
}
  
  .contactUs:hover {
      cursor: pointer;
}
  
  .contactUs:active {
    
    box-shadow: 0 0px 0px #000;
    transform: translateY(4px);
  }
.spacer{
    height: 5vw;
    width: 100%;
}
.sub-title{
    margin-left: 5%;
}
.sub-title img{
width: max(96px,18%);
}
.sub-title h3{
    font-size:max(14px,2.8vw) ;
}

/* About Us */
.aboutUs{
    width: 90%;
    margin:50px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.founderImg{
    padding-left: 8%;
    display: inline-block;
    text-align: center;
}

.founderImg h6{
    font-weight: bold;
    padding-top:1em;
    font-size: 1em;
}
.founderImg h5{
    font-weight: 500;
    font-size: 1em;
    padding-top: 5px;
}
.aboutUs p{
    padding: 0 8%; 
    font-size: max(1.8vw,14px);
}

@media(max-width:1000px){
    .aboutUs{
    flex-direction: column;
    }
    .founderImg img{
        width: 100px;
    }
    .founderImg{
        padding-left: 0;
    }
   
    .aboutUs p{
        padding-top: 20px;
    }
}

.ourServices{
    margin-top:50px ;
    display: flex;
    justify-content: space-around;
    padding: 0 3em;
    flex-wrap: wrap;
}
.card{
    width:370px;
    height: 100%;
    font-weight: 700;
    background:#F8EFEF;
    text-align: center;
    margin: 1em;
    padding-bottom:1em ;
}
@media (max-width:700px){
    .ourServices{
        padding: 0;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .card{
        margin: 0;
        font-size: 12px;
        padding-bottom: 1em;
        width: 80%;
    }
}
.card img{
    height: 30vh;
    width: 100%;
}
.card h4{
    color: red;
    padding:1em 0;
    font-size:1.4em;
}
.card p{
    padding:0 3em;
    font-size: 1em;
}













/* Customers */

  /* Slider */
  .container{
    background-color:  rgb(0, 140, 255);
    margin-top: 10px;
}
.slick-slide {
    /* margin: 10px; */
    padding: 0;
    margin: 0;
}


.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    padding: 1em;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    width: 100%;
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Customer End */

/* Business Segment */

.businessSegment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.segment{
    width: max(150px,30vw);
    position: relative;
    overflow: hidden;
    margin: 0;
}
.segment img{
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
}

.segment h5{
    font-weight: 600;
    font-size: 2vw;
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    transition: font-size 200ms ease-in;
}
.segment:hover img{
    transform: scale(1.2);
}

/* Products */

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.product{
    width: max(150px,20vw);
    overflow: hidden;
    transition: outline 200ms ease-in-out;
    background-color: #383838;
}
.product img{
    width: 100%;
    aspect-ratio: 1/.8;
    overflow: hidden;
}
.product h5{
    font-size: max(1.2vw);
    text-align: center;
    font-family:  'Roboto';
    padding: 1em;
}
.product a{
text-decoration: none;
color:white;

}
.product:hover{
    outline: 3px solid #E4281C;
}

/* Consumable */

.consumables img{
background-color: #7AB846;
width: 100%;
}

/* Contact Us Form */

#contactForm{
    position: relative;
    width: 65%;
    display: flex;
    flex-direction: column;
    box-shadow: -54px 62px 10px rgba(0, 0, 0, 0.25);
    padding: 1em 3em 1em;
}
#contactForm h3{
    font-size: 2.8em;
}
#contactForm > label{
    font-size: max(16px,1.2vw);
}
#contactForm > input{
    border:none ;
    border-bottom: 2px solid black;
    width : 70%;
    font-size: 1em;
    margin: 1em 0;
}
#contactForm >button{
    background-color: #FEC001;
    padding: 1em 2em;
    font-family: var(--secondary-font) ;
    width: fit-content;
    font-size: 1em;
    font-weight: bold;
}
#contactForm > input:focus{
    outline: none;
}
textarea{
    font-size: 1empx;
    border:none ;
    border-bottom: 2px solid black;
    width: 90%;
    resize: none;
    margin: 1em 0;
}
.contact-us{
    /* height: 80vh; */
    display: flex;
    justify-content: end;
    margin-right: 10px;
}
@media (max-width:1000px) {
    #contactForm{
        position: relative;
        width: 65%;
        display: flex;
        flex-direction: column; 
        box-shadow: -54px 62px 10px rgba(0, 0, 0, 0.25);
    }
    #contactForm > input{
        width : 100%;
        font-size: 30px;
        margin-top: 10px;
    }
    textarea{
        width: 100%;
    }
    .contact-us{
        height: auto;
        margin-right: 0;
    }
}

.icons{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vw;
    align-items: center;
    width: fit-content;
    padding: 2vw;
    background-color: #FEC001;
    filter: drop-shadow(-19px 17px 0px rgba(255, 210, 70, 0.72));
    z-index: 800;
}

.icons img{
    width: 60%;
}

.spacerSmall{
    height: 50px;
    width: 100%;
}

@media (max-width:650px){
    .contact-us{
        flex-direction: column;
    }
    .icons{
        flex-direction: row;
        filter: none;
        margin: 30px 0;
    }
    #contactForm{
        width:90%;
        padding:0 ;
        box-shadow: none;
        margin: 0 auto;
    }
    #contactForm>input{
        font-size: 18px;
    }
}

.mapBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.mapBox h3{
    font-size: 2.8em;
}
#map{
    width: 80%;
    position: static;
    border-radius: 34px;
    aspect-ratio: 1/0.3;    
}
@media (max-width:700px) {
    .mapBox h3{
        font-size: 18px;
    }
    #map{
        aspect-ratio: 1;
    }
}

.sitemap{
    display: flex;
    color: white;
    background-color:#383838;
    gap: 5em;
}
.sitemap h5{
    font-size: 27px;
    font-weight: 600;
}
.sitemap > *{
    padding:3em ;
}
.sitemap p{
    font-size: 400;
    padding:1em 0 ;
    color: rgba(255, 255, 255, 0.8);
}

#links a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
#links a:hover{
    text-decoration: underline;
}
#links a:active{
    color: #7AB846;
}
#links{
    margin-top: 1em;
    list-style: none;
}
@media (max-width:700px){
    #siteLinks{
        display: none;
    }
}
footer{
    font-weight: 300;
    text-align: center;
    font-family: var(--mons);
    border-bottom:  10px solid #383838;
}





/* Equipments */
#equipment-title{
    
    margin: 0;
    color: white;
    padding:1em 2em ;
    background-color: #000;
}

.equipments{
    
    width: 80%;
    margin: 30px auto;
}
.equipment{
    background-color: #7AB846;
    display: flex;
    margin: 1em;
    padding: 1em;
}
.equipments p{
    padding:  2rem 0 3rem;  
}
.equipments img{
    width: 30%;
    aspect-ratio: 1/.8;
}
.equipment h2{
    text-decoration:underline;
}

/* Accessories */
.accessories{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 1rem;
}
.accessorie{
    width: max(150px,20vw);
    text-align: center;
    background-color: #FEC001;
    border-radius: 0px 31px;
}.accessorie img{
    width: 80%;
    aspect-ratio: 1/.9;
    margin: 2em auto;
    border-radius: 12px;
}
.accessorie h5{
    padding:2em ;
    background-color: #383838;
    color: white;
    border-radius: 0px 31px;
}