*{
    margin: 0;
    padding:0 ;
}
html{
    scroll-behavior: smooth;
}
:root{
--green:#7AB846;
--orange:rgb(255, 60, 0);
--lime:#FAFF00;
--background: rgba(240, 12, 12, 0.678);
--primary-font:'Poppins','Helvetica';
--secondary-font:'Montserrat', sans-serif;
--mons: 'Montserrat', sans-serif;
font-family: var(--primary-font);
color: black;
font-weight: 400;
font-size: 14px;
}
@font-face{
        font-family: nulShock;
        src:url(./nulshock\ bd.woff);
}


body{
    overflow-x: hidden;
}
.fade-left{
    opacity: 0;
  transform: translateX(10%);
  transition: all 1s;
}
.fade-right{
    opacity: 0;
    transform: translateX(-10%);
    transition: all 1s;
}
@media (max-width:700px) {
    .fade-left{
        opacity: none;
        transform: none;
        transition: all 1s;

    }
    .fade-right{
        opacity: none;
        transform: none;
        transition: all 1s;
    }
}
.visible {
    opacity: 1;
    transform: translate(0, 0);
  }

.row1{
display: flex;
align-items: center;
height: 8vh;
width: 100%;
justify-content: space-between ;
/* border-bottom:4px solid var(--orange); */
background: white;
padding: 10px;
}
.logo-container{
    display: flex;
    align-items: center;
    height: 100%;
}
.logo-container h2{
    padding: 1em;
    font-size: max(2em,2.5vw);
}
.row1 p{
    font-size: 12px;
    font-weight: bold;
    padding-right: 2em;
}
.row>*{
    flex: 2;
}
.row1 h2{
    color: var(--orange);
    font-weight: 900;
    font-family: nulShock;
}
nav{
    align-items: center;
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    left: 0;
    /* background: var(--green); */
    z-index: 999;
    box-shadow:0 1px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
}
#logo{
cursor: pointer;
height: 100%;
}
.primary-nav{
    position: relative;
    display: flex;
    list-style: none;
    z-index: 999;
    gap: none;
    width: 80%;
    margin: 0 auto;
}
.primary-nav a{
    flex: 2;
    text-decoration: none;
    color: white;
    font-family:var(--secondary-font);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.3em 1em;
    transition: all 200ms ease-in-out;
}

.primary-nav > *{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#active{
    background-color:var(--background);
}

.primary-nav a:hover{
/* color: var(--orange); */
background-color: var(--background);
backdrop-filter: blur(12px);
}
.nav-toggle{
    display: none;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* box-shadow:0 1px; */
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
  }
  .dropbtn{
      border: none;
      text-decoration: none;
      color: white;
    padding: 0.3em 1em;
    font-family:var(--secondary-font);
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 200ms ease-in-out;
    background-color: transparent;
    text-align: center;
  }
  
  /* .dropdown-content a:hover {background-color: #ddd;} */
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {color: var(--orange);} */
  .dropdown:hover{

    background-color:var(--background);
  }
  .iso-logos{
      height: 100%;
  }
  .iso-logos img{
      height: 100%;
      padding: 0 1em;
  }
@media (max-width:1000px) {
    #logo{
        height: 40px;
    }
    body{
        margin-top:60px;
    }
    .primary-nav{
        all:none;
    }
    .logo-container h2{
        font-size:22px;
        padding: none;
    }
    .dropdown:hover{
        background-color: transparent;
    }
    .iso-logos{
        display: none;
    }
    .primary-nav{
        position: fixed;
        inset: 0 0 0 30%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.432);
        backdrop-filter: blur(1rem);
        flex-direction: column;
        padding: min(30vh,10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        gap: 2rem;
    }
    .primary-nav > *{
        width: auto;
        justify-content: center;
        text-align: left;
    }
    .primary-nav a{
        color: white;
    }
    .primary-nav a:hover{
        background-color: transparent;
    }
    .nav-toggle{
        display: block;
        width:40px;
        background-color: transparent;
        aspect-ratio: 1;
        border: none;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 9999;
    }
    button img{
        width: 100%;
    }
    .primary-nav[data-visible="true"]{
        transform: translateX(0%);
    }
    .dropdown-content {
        display: none;
        position: static;
        background-color: transparent;
        min-width: 160px;
        box-shadow: none;
        z-index: 1;
      }
      .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .dropbtn{
          border: none;
          text-decoration: none;
        color:#fff;
        font-family:var(--secondary-font);
        font-weight: bold;
        font-size: 1.2rem;
        transition: color 200ms ease-in-out;
        background-color: transparent;
      }
      #active{
          background-color: transparent;
          color: white;
              }
   
}

.cover{
    position: relative;
    min-height: max(48vw,220px);
    max-height: 70vh;
    background-image: url("./images/cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    margin: 0;
    transform: translate(-0.10%,-5%);
}
.cover>*{
position: absolute;
left:9vw;
}


.cover p{
color: white;
font-size: 1.2vw;
font-weight: 600;
-webkit-text-stroke: 0.5px black;
}
.cover h1{
    margin-top: 8vw;
    color: var(--orange);
    font-family: nulShock;
    font-weight: 900;
    font-size:max(4vw,24px);
    text-shadow: 0px 4px 4px #000000;
}

.cover h2 {
    top: 140px;
    color: white;
    font-weight: 700;
    font-size: max(2.8vw,12px);
    text-shadow: 0px 4px 4px #000000;
    margin: 1em 0px 0.4em;
    width: 56%;
}
.cover h2 span{
    color: var(--lime);
}
/* .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
} */
.contactUs{
    background-color: var(--orange);
    border: none;
    font-size: max( 1.6vw, 9.7px);
    font-weight: 700; 
    padding: 0.5em 2em; 
    margin: 1em 0px;
    width: fit-content;
    color: white;
    /* text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.85); */
    box-shadow: -3px 4px 4px #000000;
    border-radius: 6px;
}
  
.contactUs:hover {
      cursor: pointer;
      background-color: rgb(255, 40, 0);
}
.contactUs:active {  
    box-shadow: 0 0px 0px #000;
    transform: translateY(4px);
  }
.spacer{
    height: 5vw;
    width: 100%;
}
.sub-title{
    margin-left: 5%;
}
.sub-title img{
width: max(96px,18%);
}
.sub-title h3{
    font-size:max(14px,2.4vw) ;
}

/* About Us */
.aboutUs{
    width: 90%;
    margin:50px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutUs>*{
    flex: 2;
}
.founderImg{
    text-align: center;
}
.founderImg img{
    width: 200px;
}

.founderImg h6{
    font-weight: bold;
    padding-top:1em;
    font-size: 1em;
}
.founderImg h5{
    font-weight: 500;
    font-size: 1em;
    padding-top: 5px;
}
.aboutUs div p{
    font-size: 1.4rem;
}
.aboutUs a{
    /* text-decoration: none; */
    /* background-color: var(--orange); */
    /* padding: 5px 1em; */
    font-size: 16px;
    color: var(--orange);
    /* color: #fff; */
    border-radius: 10px;
}

@media(max-width:1000px){
    .aboutUs{
    flex-direction: column;
    }
    .founderImg img{
        width: 100px;
    }
    .founderImg{
        padding-left: 0;
    }
   
    .aboutUs p{
        padding-top: 20px;
    }
}

.ourServices{
    margin-top:50px ;
    display: flex;
    justify-content: space-around;
    padding: 0 3em;
    flex-wrap: wrap;
}
.card{
    width:350px;
    height: 100%;
    font-weight: 700;
    background: var(--orange);
    backdrop-filter: blur(12px);
    color: #fff;
    text-align: center;
    margin: 1em;
    padding-bottom:1em ;
    border-radius: 10px;
}
@media (max-width:700px){
    .ourServices{
        padding: 0;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .card{
        margin: 0;
        font-size: 12px;
        padding-bottom: 1em;
        width: 80%;
    }
}
.card img{
    border-radius: 10px 10px 0px 0px;
    height: 30vh;
    width: 100%;
}
.card h4{
    color: #000;
    padding: 10px 0;
    font-size:1.4em;
}
.card p{
    padding:0 3em;
    font-size: 14px;
    font-weight: 500;
}
.card a{
    text-decoration: none;
    padding: 0px 10px;
    background-color: black;
    color: #fff;
    margin-top: 10px;
    border-radius: 30px;
}
.card a:hover{
    color: #000;
    background-color: #fff;
}











/* Customers */

  /* Slider */
  .container{
    background-color:  rgb(0, 140, 255);
    /* margin-top: 10px; */
}
.slick-slide {
    /* margin: 10px; */
    padding: 0;
    margin: 0;
}


.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    padding: 1em;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    width: 100%;
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Customer End */

/* Business Segment */

.businessSegment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.segment{
    width: max(150px,25vw);
    position: relative;
    overflow: hidden;
    margin: 0;
}
.segment img{
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
}

.segment h5{
    font-weight: 600;
    font-family: "Roboto";
    letter-spacing: 1px;
    font-size: 2vw;
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    transition: font-size 200ms ease-in;
}
.segment:hover img{
    transform: scale(1.2);
}

/* Products */

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.product{
    width: max(150px,20vw);
    overflow: hidden;
    background-color: #383838;
}
.product img{
    width: 100%;
    aspect-ratio: 1/.8;
    overflow: hidden;
}
.product h5{
    font-size: max(1.2vw);
    text-align: center;
    font-family:  var(--mons);
    padding: 1em;
}
.product a{
text-decoration: none;
color:white;

}
.product:hover.product  h5{
    color: var(--orange);
    /* outline: 3px solid var(--orange); */
}

/* Consumable */

.consumables img{
background-color: #7AB846;
width: 100%;
}

/* Contact Us Form */

#contactForm{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: -54px 62px 10px rgba(0, 0, 0, 0.25);
    padding: 1em 3em 1em;
    justify-content: center;
    /* background-color: #fff; */
}
#contactForm h3{
    font-size: 2.8em;
}
#contactForm > label{
    font-size: max(16px,1.2vw);
}
#contactForm > input{
    border:none ;
    border-bottom: 2px solid black;
    width : 60%;
    font-size: 1em;
    margin: 1em 0;
}
#contactForm >button{
    background-color: #FEC001;
    padding: 1em 2em;
    font-family: var(--secondary-font) ;
    width: fit-content;
    font-size: 1em;
    font-weight: bold;
    border: 1.5px solid black;
    border-radius: 8px;
    cursor: pointer;
}

#contactForm > input:focus{
    outline: none;
}
textarea{
    font-size: 1empx;
    border:none ;
    border-bottom: 2px solid black;
    width: 90%;
    resize: none;
    margin: 1em 0;
}
.contact-us{
    display: flex;
    justify-content: center;
    max-height: 80vh;
}

@media (max-width:1000px) {
    #contactForm{
        position: relative;
        width: 65%;
        display: flex;
        flex-direction: column; 
        box-shadow: -54px 62px 10px rgba(0, 0, 0, 0.25);
    }
    #contactForm > input{
        width : 100%;
        font-size: 30px;
        margin-top: 10px;
    }
    textarea{
        width: 100%;
    }
    .contact-us{
        height: auto;
        margin-right: 0;
    }
}

.icons{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vw;
    align-items: center;
    width: fit-content;
    padding: 2vw;
    background-color: #FEC001;
    filter: drop-shadow(-19px 17px 0px rgba(255, 210, 70, 0.72));
    z-index: 800;
}

.icons img{
    width: 60%;
}

.spacerSmall{
    height: 50px;
    width: 100%;
}

@media (max-width:650px){
    .contact-us{
        flex-direction: column;
    }
    .icons{
        flex-direction: row;
        filter: none;
        margin: 30px 0;
    }
    #contactForm{
        width:90%;
        padding:0 ;
        box-shadow: none;
        margin: 0 auto;
    }
    #contactForm>input{
        font-size: 18px;
    }
}

.mapBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.mapBox h3{
    font-size: 2.8em;
}
#map{
    width: 80%;
    position: static;
    border-radius: 34px;
    aspect-ratio: 1/0.3;    
}
@media (max-width:700px) {
    .mapBox h3{
        font-size: 18px;
    }
    #map{
        aspect-ratio: 1;
    }
}

.sitemap{
    display: flex;
    color: white;
    background-color:#383838;
    gap: 5em;
}
.sitemap h5{
    font-size: 27px;
    font-weight: 500;
}
.sitemap > *{
    padding:3em ;
}
.sitemap p{
    font-size: 400;
    padding:1em 0 ;
    color: rgba(255, 255, 255, 0.8);
}

#links a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
#links a:hover{
    text-decoration: underline;
}
#links a:active{
    color: #7AB846;
}
#links{
    margin-top: 1em;
    list-style: none;
}
@media (max-width:700px){
    #siteLinks{
        display: none;
    }
}
footer{
    font-weight: 300;
    text-align: center;
    font-family: var(--mons);
    background-color: #fff;
}





/* Equipments */
#equipment-title{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    color: white;
    padding:1em 2em ;
    background-color: #000;
    /* font-size: 1.4em; */
}

.equipments{
    
    width: 80%;
    margin: 30px auto;
}
.equipment{
    color: #383838;
    /* background-color: var(--orange); */
    display: flex;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
}
.equipment div{
    padding: 1em;
}
.equipments p{
    padding:  2rem 0 3rem; 
    /* font-size: 1.4em; */
}
.equipments img{
    width: max(220px,30%);
    aspect-ratio: 1/.8;
    border-radius: 10px;
}
.equipment h2{
    text-decoration:underline;
    color: #000;
}
@media (max-width:700px){
    .equipment{
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        margin: 1em 0;
    }
    .equipments{
        width: 100%;
    }
}
/* Accessories */
.accessories{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 1rem;
}
.accessorie{
    width: max(150px,20vw);
    text-align: center;
    background-color: #FEC001;
    border-radius: 0px 31px;
    position: relative;
}.accessorie img{
    width: 80%;
    aspect-ratio: 1/.9;
    margin: 2em auto;
    border-radius: 12px;
    margin-bottom: 100px;
}
.accessorie h5{
    position: absolute;
    padding:2em ;
    background-color: #383838;
    color: white;
    border-radius: 0px 31px;
    bottom: 0px;
    left: 0;
    right: 0;
}

#advanced-title{
    color: #fff;
    background-color: #000;
    padding: 1em;
}

/* About US */
#aboutus-title{
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 1em;
}
.vissionmission{
    display: flex;
}
@media (max-width:1000px) {
    .vissionmission{
        flex-direction: column;
    }
}
.vissionmission>*{
flex: 1;
background-color: var(--orange);
font-size: 1.2em;
margin: 1em;
padding: 1em;
border-radius: 10px;
color: #fff;
}
.vission span,.mission span{
font-size: 2em;
font-weight: 700;
color: #000;
}

.title{
    text-align: center;
    font-family: nulShock;
    font-size: min(72px,10vw);
    color: var(--orange);
}

.ourStory{
    padding:1em ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.ourStory>*{
    width: 70%;
    margin: 0 auto;
}
.ourStory ul{
    width: 80%;
    margin: 0 auto;
}
.ourStory h3{
    font-size: 2em;
    padding:1em ;
}
.ourStory li{
    padding: 0 1em;
    font-size: 1.2em;
}
.ourStory >.founderImg,.partners {
    margin-bottom: 30px;
}
.partners{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.partners > .people{
    margin: 1em;
    background-image: linear-gradient(to right top, #9314c0, #8323cb, #6e2fd6, #5138e1, #1241eb);
}
.partnerImg{
    border: 1px solid black;
    border-radius: 200px;
    background-color: white;
}
.iso1{
    width: 100px;
    aspect-ratio: 1;
    padding:1em;
}
.iso2{
    width: 95px;
    aspect-ratio: 1;
    padding:1em;
}

.iso-container{
    height: 300px;
    margin: 0 auto;
}
article{
    margin-top: 140px;
}
.inspection{
    display: flex;
    width: 80%;
    background-color: #000;
    color: #fff;
    border: 1px solid black;
    margin: 1em auto;
    padding: 1em;
}
.inspection>*{
    
    margin: 1em;
}
.inspection div{
    flex: 2;
}
.inspection div h2{
    margin-bottom: 20px;
    font-weight: 500;
}
.inspection div p{
    font-weight: 400;
}
.inspection img{
    flex: 2;
    width: 200px;
    padding: 1em;
}
@media (max-width:1000px) {
    .inspection{
        flex-direction: column;
    }
    .inspection img{
        width: 80%;
    }
}
.calibration{
    text-align: center;
}
.caliberation{
    display: flex;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    text-align: left;
}
.caliberation>*{
    flex: 2;
    padding: 1em;
    align-self: center;
    margin: 30px 0;
}
.caliberation img{
    max-width: 30%;
}

.calibration ul{
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    color: white;
    width: fit-content;
    padding: 2em;
    margin-left: 10%;
}

@media (max-width:800px) {
    .caliberation img{
        max-width: 300px;
    }
    .caliberation{
        flex-direction: column;
        }
        .caliberation>*{
            margin: 10px 0;
        }
} 

.people{
    display: flex;
    width: max(50%,100px);
    align-items: center;
    background-image: linear-gradient(to right top, #c446c4, #e3389c, #ef3f76, #ec5454, #de6c3a);
    border-radius:30px ;
    padding: 1em;
    color: white;
}
.people p{
    padding: 1em 3em;
}

@media (max-width:1000px) {
    .vissionmission{
        width: 100%;
    }
    .people{
        width: 80%;
        flex-direction: column;
        padding: none;
    }
    .people p{
        padding: 1em 1em;
    }
    .partners{
        flex-direction: column;
    }
}

.contact-details{
    width: 25%;
    background-color: #FEC001;
}
@media (max-width:700px) {
.contact-details{
    display: none;
}
}
.downloadButton{
    padding: 1em;
    background-color: orangered;
    color: white;
    height: fit-content;
    text-decoration: none;
    border-radius: 10px;
    width: fit-content;
    
}
.uvLight{
    height: 60vh;
}
.uvBroucher{
    display: flex;justify-content: center;
    align-items: center;
}
.uvBroucher div{
    display: flex;
    flex-direction: column;
}
.uvBroucher div>*{margin: 10px 20px;
}
.uvBroucher div h2{
    font-family: var(--mons);
    color: #c446c4;
}
@media (max-width:700px) {
    .uvLight{
        width: 70%;
    }
    .uvBroucher{
        flex-direction: column;
        align-items: center;
    }
}
